<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <!-- one important word of caution, we could of course have the idea 
      to put the mat-sidenave also into its own component and not just the
      content; there are solutions to make this work for sure but in general
      you can quickly end up in a situation where you fail opening the sidenavToggle
      because mat-sidenav ALWAYS NEEDS TO BE A DIRECT CHILD OF MAT-SIDE-CONTAINER and
      you might break that chain if you add another component in between your own 
      component. -->
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
        <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
